﻿@using Microsoft.AspNet.Identity
@using RepairIt.Models
<style>
    .nav{
    color: #DFB6FF;
    }
</style>
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @{
                        string firstName;
                        using (var dbContext = ApplicationDbContext.Create())
                        {
                            var id = User.Identity.GetUserId();
                            firstName = dbContext.UsersProfile.Where(x => x.Id == id).Select(x => x.FirstName).FirstOrDefault();
                        }
                    }
                    @Html.ActionLink("Witaj, " + firstName +"!", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage", @style = "color: #DFB6FF; font-size: 18px; margin-top: 20px"})
                </li>
                <li>
                    <a style="color: #DFB6FF; font-size: 18px; margin-top: 20%;" href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
                </li>
            </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink", @style = "color: #DFB6FF; font-size: 18px; margin-top: 20px"})</li>
        <li>@Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink", @style = "color: #DFB6FF; font-size: 18px; margin-top: 20px"})</li>
    </ul>
}