﻿@model RepairIt.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Zmień hasło";
}

<style>
    body{
        color: #2D2C7A;
        font-size: medium;
    }
    .btn-button{
        background-color: #2D2C7A;
        color: #DFB6FF;
        box-shadow: 0 0 0 1px #DFB6FF;
        border-radius: 50px;
        font-size: 15px;
        }

    .btn-button:hover{
        background-color: #DFB6FF;
        color: #2D2C7A;
        box-shadow: 0 0 0 1px #1A1A47;
        }
</style>

<div class="container body-content" style="justify-content: center;
                                                height: 600px;
                                                width: 1100px;">

    <div class="jumbotron" style="background-color: #AAA8FF;
                                       margin-top: 80px;
                                       border-radius: 100px;
                                       box-shadow: 0 0 1px 2px #2D2C7A;">

        <h2 class="row" style="text-align: center; margin-top: -20px; color: #2D2C7A; text-shadow: 1px 1px 2px #8483C7;">Zmień swoje hasło</h2>
        <hr style="background-color: #2D2C7A; height: 1px; border: 0">

        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new {@class = "col-md-2 control-label", style = "color: #2D2C7A" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new {@class = "col-md-2 control-label", style = "color: #2D2C7A"})
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-2 control-label", style = "color: #2D2C7A"})
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default btn-button" value="Zapisz"/>
                </div>
            </div>
        }
    </div>
</div>

@Html.ActionLink("Powrót do profilu", "Index", "Manage", null, new {@class = "btn btn-button"})

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}