﻿@model RepairIt.Models.UserDetailsViewModel

@{
    ViewBag.Title = "EditProfile";
}

<style>
body{
        color: #2D2C7A;
        font-size: medium;
}

    .btn-button{
        background-color: #2D2C7A;
        color: #DFB6FF;
        box-shadow: 0 0 0 1px #DFB6FF;
        border-radius: 50px;
        font-size: 15px;
        }

    .btn-button:hover{
        background-color: #DFB6FF;
        color: #2D2C7A;
        box-shadow: 0 0 0 1px #1A1A47;
        }
</style>


<div class="container body-content" style="justify-content: center;
                                                    height: 600px;
                                                    width: 1100px;">
    <div class="jumbotron" style="background-color: #AAA8FF;
                                    margin-top: 80px;
                                    border-radius: 100px;
                                    box-shadow: 0 0 1px 2px #2D2C7A;">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h2 class="row" style="text-align: center; margin-top: -20px; color: #2D2C7A; text-shadow: 1px 1px 2px #8483C7;">Edytuj swój profil</h2>
                <hr style="background-color: #2D2C7A; height: 1px; border: 0">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default btn-button" value="Zapisz"/>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@Html.ActionLink("Powrót do profilu", "Index", "Manage", null, new {@class = "btn btn-button"})

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
