﻿@model RepairIt.Models.ProfileViewModel
@{
    ViewBag.Title = "Twój profil";
}

<style>
    body{
        color: #2D2C7A;
        font-size: medium;
    }

    .btn-left, .btn-right{
        background-color: #2D2C7A;
        color: #DFB6FF;
        margin-right: 5px;
        box-shadow: 0px 0px 0px 1px #DFB6FF;
        border-radius: 50px;
        font-size: 15px;
    }

    .btn-left:hover, .btn-right:hover{
        background-color: #DFB6FF;
        color: #2D2C7A;
        box-shadow: 0px 0px 0px 1px #1A1A47;
    }

    th {
        text-align: center;
    }

</style>

<div class="container body-content" style="justify-content: center;
                                                width: 1100px;">

    <div class="jumbotron" style="background-color: #AAA8FF;
                                          margin-top: 80px;
                                          border-radius: 100px;
                                          box-shadow: 0 0 1px 2px #2D2C7A;">
        <p class="text-success" style="@(string.IsNullOrEmpty(ViewBag.StatusMessage) ? "display: none;" : "display: block;")
                                                                                    background-color: #2D2C7A;
                                                                                   color: #DFB6FF;
                                                                                   box-shadow: 0 0 0 1px #DFB6FF;
                                                                                   border-radius: 50px;
                                                                                   font-size: 15px;
                                                                                   padding: 5px;
                                                                                   margin-bottom: 40px;
                                                                                   text-align: center;">@ViewBag.StatusMessage</p>
        <div>

            <h2 class="row" style="text-align: center; margin-top: -20px; color: #2D2C7A; text-shadow: 1px 1px 2px #8483C7;">Twój profil</h2>

            <hr style="background-color: #2D2C7A; height: 1px; border: 0">
            <dl class="dl-horizontal">
                <dt>Imię:</dt>
                <dd>
                    @Html.DisplayFor(m => m.UserDetails.FirstName)
                </dd>
                <dt>Nazwisko:</dt>
                <dd>
                    @Html.DisplayFor(m => m.UserDetails.Surname)
                </dd>
                <dt>Numer telefonu:</dt>
                <dd>
                    @Model.UserDetails.PhoneNumber.Substring(0, 3)-@Model.UserDetails.PhoneNumber.Substring(3, 3)-@Model.UserDetails.PhoneNumber.Substring(6, 3)
                </dd>
                <dt>E-mail:</dt>
                <dd>
                    @Html.DisplayFor(m => m.UserDetails.Email)
                </dd>
                <dt>Hasło:</dt>
                <dd>
                    ********
                </dd>

                <div style="text-align: center">

                    @Html.ActionLink("Edytuj profil", "EditProfile", null, new {@class = "btn btn-lg btn-right"})
                    @Html.ActionLink("Zmień hasło", "ChangePassword", null, new {@class = "btn btn-lg btn-right"})
                </div>
            </dl>

            <br/>
            <div class="container" style="background-color: #EACFFF;
                                                margin-top: 20px;
                                                border-radius: 70px;
                                                padding-bottom: 20px;
                                                padding-top: 20px;
                                                box-shadow: 0 0 1px 1px #2D2C7A;">

                <h3 style="text-align: center">Twoje zlecenia</h3>
                <hr style="background-color: #2D2C7A; height: 1px; border: 0">
                <table class="table" style="text-align: center">
                    <tr>
                        <th>
                            Data utworzenia
                        </th>

                        <th>
                            Tytuł zlecenia
                        </th>

                        <th>
                            Opis zlecenia
                        </th>

                        <th>
                            Adres zlecenia
                        </th>

                        <th>
                        </th>
                    </tr>

                    @foreach (var offer in Model.Offers)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => offer.CreationDate)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => offer.Title)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => offer.Description)

                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => offer.City) @Html.DisplayFor(modelItem => offer.Street) @Html.DisplayFor(modelItem => offer.HomeNumber)
                                @{
                                    if (offer.FlatNumber != null)
                                    {
                                        @:m. @Html.DisplayFor(modelItem => offer.FlatNumber)
                                    }
                                }
                            </td>

                            <td>
                                @Html.ActionLink("Edytuj", "Edit", "Offer", new {id = offer.Id}, new {@class = "btn btn-lg btn-right"})
                                @Html.ActionLink("Usuń", "Delete", "Offer", new {id = offer.Id}, new {@class = "btn btn-lg btn-right"})
                            </td>
                        </tr>
                    }
                </table>
            </div>

            <div class="container" style="background-color: #EACFFF;
                                                            margin-top: 20px;
                                                            border-radius: 70px;
                                                            padding-bottom: 20px;
                                                            padding-top: 20px;
                                                            box-shadow: 0 0 1px 1px #2D2C7A;">

                <h3 style="text-align: center">Twoje usługi</h3>
                <hr style="background-color: #2D2C7A; height: 1px; border: 0">

                <table class="table" style="text-align: center">
                    <tr>
                        <th>
                            Data utworzenia
                        </th>

                        <th>
                            Typ usługi
                        </th>

                        <th>
                            Opis usługi
                        </th>

                        <th>
                            Zasięg usługi [km]
                        </th>

                        <th>
                            Adres usługi
                        </th>

                        <th>
                        </th>
                    </tr>

                    @foreach (var handyman in Model.Handymen)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => handyman.CreationDate)
                            </td>

                            <td>
                                @foreach (var service in handyman.Services)
                                                                {
                                                                    @Html.DisplayFor(modelItem => service)
                                                                    @:
                                                                }
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => handyman.Description)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => handyman.Radius)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => handyman.City) @Html.DisplayFor(modelItem => handyman.Street) @Html.DisplayFor(modelItem => handyman.HomeNumber)
                                @{
                                    if (handyman.FlatNumber != null)
                                    {
                                        @:m. @Html.DisplayFor(modelItem => handyman.FlatNumber)
                                    }
                                }
                            </td>

                            <td>
                                @Html.ActionLink("Edytuj", "Edit", "Handyman", new {id = handyman.Id}, new {@class = "btn btn-lg btn-right"})
                                @Html.ActionLink("Usuń", "Delete", "Handyman", new {id = handyman.Id}, new {@class = "btn btn-lg btn-right"})
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

@Html.ActionLink("Powrót do strony głównej", "Index", "Home", null, new {@class = "btn btn-lg btn-right"})