﻿@{
    ViewBag.Title = "Strona Główna";
}
<title>@ViewBag.Title</title>

<style>
    body{
        background-color: #F0D9FC;
        color: #2D2C7A;
    }

    .btn-left{
        margin-right: 110px;
    }

    .btn-left, .btn-right{
        background-color: #2D2C7A;
        margin-top: 50px;
        height:65px;
        width: 240px;
        color: #DFB6FF;
        box-shadow: 0 0 1px 2px #DFB6FF;
        border-radius: 50px;
        font-size: 30px;
    }

    .btn-left:hover, .btn-right:hover{
        background-color: #DFB6FF;
        color: #2D2C7A;
        box-shadow: 0 0 1px 2px #1A1A47;
    }

    .text h1{
        font-weight: 700;
        font-size: 90px;
        letter-spacing: 4px;
        margin-top: 130px;
    }


</style>

<div class="container body-content" style="justify-content: center;
                                                  width: 1100px;">

    <div class="jumbotron" style="background-color: #AAA8FF;
                                          margin-top: 80px;
                                          border-radius: 100px;
                                          box-shadow: 0 0 1px 2px #2D2C7A;
                                          height: 650px;
                                          text-align: center;">
        <div class="text">
            <h1>Czego szukasz?</h1>
        </div>
        <div class="row">
            @Html.ActionLink("Zleceń", "Index", "Offer", null, new {@class = "btn btn-lg btn-left"})
            @Html.ActionLink("Usług", "Index", "Handyman", null, new {@class = "btn btn-lg btn-right"})
        </div>
    </div>
</div>