﻿@model RepairIt.Models.RegisterViewModel

@{
    ViewBag.Title = "Rejestracja";
}

<style>

    body{
        font-size: medium;
    }

    .btn-button{
        background-color: #2D2C7A;
        color: #DFB6FF;
        box-shadow: 0 0 0 1px #DFB6FF;
        border-radius: 50px;
        font-size: 15px;
        }

    .btn-button:hover{
        background-color: #DFB6FF;
        color: #2D2C7A;
        box-shadow: 0 0 0 1px #1A1A47;
        }
</style>

<div class="container body-content" style="justify-content: center;
                                                width: 1100px;">

    <div class="jumbotron" style="background-color: #AAA8FF;
                                       margin-top: 80px;
                                       border-radius: 100px;
                                       box-shadow: 0 0 1px 2px #2D2C7A;">

        <h2 class="row" style="text-align: center; margin-top: -20px; color: #2D2C7A; text-shadow: 1px 1px 2px #8483C7;">Zarejestruj się!</h2>
        <hr style="background-color: #2D2C7A; height: 1px; border: 0">

        <br/>

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})

            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new {@class = "col-md-2 control-label", style = "color: #2D2C7A"})
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FirstName, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.FirstName, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Surname, new {@class = "col-md-2 control-label", style = "color: #2D2C7A"})
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Surname, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Surname, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.PhoneNumber, new {@class = "col-md-2 control-label", style = "color: #2D2C7A"})
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.PhoneNumber, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label", style = "color: #2D2C7A"})
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label", style = "color: #2D2C7A"})
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-2 control-label", style = "color: #2D2C7A"})
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default btn-button" value="Utwórz nowe konto"/>
                </div>
            </div>
        }
    </div>
</div>

@Html.ActionLink("Powrót do strony głównej", "Index", "Home", null, new {@class = "btn btn-button"})

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}