﻿@model List<RepairIt.Models.OfferViewModel>
@{
    Layout = "";
    ViewBag.Title = "Zlecenia";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap" rel="stylesheet">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <style>
        body{
            font-family: 'Work Sans', sans-serif;
            background-color: #F0D9FC;
            font-size: medium;
        }

        input[type=text], select {
            width: 60%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .navbar-brand{
            font-size: 40px;
        }

        .navbar-nav{
            size: 300px;
        }

        .text-size{
            font-size: 22px;
            margin-top: 20px;
            }

        .btn-left, .btn-right{
            background-color: #2D2C7A;
            color: #DFB6FF;
            box-shadow: 0 0 0 1px #DFB6FF;
            border-radius: 50px;
            font-size: 15px;
        }

        .btn-left:hover, .btn-right:hover{
            background-color: #DFB6FF;
            color: #2D2C7A;
            box-shadow: 0 0 0 1px #1A1A47;
        }

        .popup{
            background-color: #DFB6FF;
            color: #2D2C7A;
            box-shadow: 0 0 0 1px #1A1A47;
        }

        .popup:hover{
            background-color: #2D2C7A;
            color: #DFB6FF;
            box-shadow: 0 0 0 1px #DFB6FF;
        }

    </style>

    <script>
                function initAutocomplete() {
                    var infowindow = new google.maps.InfoWindow({ });
                    var geocoder = new google.maps.Geocoder();
                    var model = @Html.Raw(Json.Encode(Model));
                    var addressess = [];
                    model.forEach(address => {
                        addressess.push(address.City + ", " + address.Street + " " + address.HomeNumber + "/" + address.FlatNumber);
                    });


                    var myCenter = new google.maps.LatLng(50.060173, 19.944783);
                    var map = new google.maps.Map(document.getElementById('map'), {
                        center: myCenter,
                        zoom: 9,
                        mapTypeId: 'roadmap',
                        styles: stylesArray,
                        options: {gestureHandling: 'greedy'}
                    });

                    var input = document.getElementById('pac-input');
                    var searchBox = new google.maps.places.SearchBox(input);
                    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

                    map.addListener('bounds_changed', function () {
                        searchBox.setBounds(map.getBounds());
                    });

                    for (let i = 0; i < addressess.length; i++) {
                                        geocoder.geocode({ 'address': addressess[i] }, function (results, status) {
                                            if (status === google.maps.GeocoderStatus.OK) {
                                                var latitude = results[0].geometry.location.lat();
                                                var longitude = results[0].geometry.location.lng();
                                                var cordinates = { lat: latitude, lng: longitude };
                                                var content = "";

                                                if (model[i].Street == null && model[i].FlatNumber == null)
                                                {
                                                    content = '<p style="font-size: medium;"> <b>Tytuł: </b>' + model[i].Title + '<br/> <b>Opis: </b>' + model[i].Description + '<br/> <b>Adres: </b>' + model[i].City + " " + model[i].HomeNumber + '</p> <a class = "btn btn-lg btn-right popup" href="/Offer/Details?id=' + model[i].Id + '">Szczegóły</a>';
                                                }
                                                else if (model[i].Street == null && model[i].FlatNumber != null)
                                                {
                                                    content = '<p style="font-size: medium;"> <b>Tytuł: </b>' + model[i].Title + '<br/> <b>Opis: </b>' + model[i].Description + '<br/>  <b>Adres: </b>' + model[i].City + " " + model[i].HomeNumber + "/" + model[i].FlatNumber + '</p> <a class = "btn btn-lg btn-right popup" href="/Offer/Details?id=' + model[i].Id + '">Szczegóły</a>';
                                                }
                                                else if (model[i].Street != null && model[i].FlatNumber == null)
                                                {
                                                    content = '<p style="font-size: medium;"> <b>Tytuł: </b>' + model[i].Title + '<br/> <b>Opis: </b>' + model[i].Description + '<br/>  <b>Adres: </b>' + model[i].City + ", " + model[i].Street + " " + model[i].HomeNumber + '</p> <a class = "btn btn-lg btn-right popup" href="/Offer/Details?id=' + model[i].Id + '">Szczegóły</a>';
                                                }
                                                else
                                                {
                                                    content = '<p style="font-size: medium;"> <b>Tytuł: </b>' + model[i].Title + '<br/> <b>Opis: </b>' + model[i].Description + '<br/>  <b>Adres: </b>' + addressess[i] + '</p> <a class = "btn btn-lg btn-right popup" href="/Offer/Details?id=' + model[i].Id + '">Szczegóły</a>';
                                                }

                                                var marker = new google.maps.Marker({ position: cordinates, icon: 'http://maps.google.com/mapfiles/dir_walk_60.png', map: map, infoWindowContent: content });

                                                google.maps.event.addListener(marker, "click", function (){
                                                    infowindow.setContent(marker.infoWindowContent);
                                                    infowindow.open(map, marker);
                                                });
                                            } else {
                                                console.log(status);
                                            }
                                        });
                                        }

                    var markers = [];

                    searchBox.addListener('places_changed', function () {
                        var places = searchBox.getPlaces();

                        if (places.length == 0) {
                            return;
                        }

                        markers.forEach(function (marker) {
                            marker.setMap(null);
                        });
                        markers = [];

                        var bounds = new google.maps.LatLngBounds();
                        places.forEach(function (place) {
                            if (!place.geometry) {
                                console.log("Returned place contains no geometry");
                                return;
                            }

                            if (place.geometry.viewport) {
                                bounds.union(place.geometry.viewport);
                            } else {
                                bounds.extend(place.geometry.location);
                            }
                        });
                        map.fitBounds(bounds);
                    });
                }
            </script>

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #2D2C7A; border-color: #2D2C7A">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Repair it!", "Index", "Home", new {area = ""}, new {@class = "navbar-brand", @style = "color: #DFB6FF; margin-top: 10%;margin-bottom: 10%;"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Strona główna", "Index", "Home", null, new {@class = "text-size", style = "color: #DFB6FF"})</li>
                <li>@Html.ActionLink("Zlecenia", "Index", "Offer", null, new {@class = "text-size", style = "color: #DFB6FF"})</li>
                <li>@Html.ActionLink("Usługi", "Index", "Handyman", null, new {@class = "text-size", style = "color: #DFB6FF"})</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

<div class="container body-content" style="justify-content: center;
                                                  width: 1100px;">

    <div class="jumbotron" style="background-color: #AAA8FF;
                                          margin-top: 80px;
                                          border-radius: 100px;
                                          box-shadow: 0 0 1px 2px #2D2C7A;">
        <p class="text-success" style="@(string.IsNullOrEmpty(ViewBag.StatusMessage) ? "display: none;" : "display: block;")
                                                                                                                   background-color: #2D2C7A;
                                                                                                                   color: #DFB6FF;
                                                                                                                   box-shadow: 0 0 0 1px #DFB6FF;
                                                                                                                   border-radius: 50px;
                                                                                                                   font-size: 15px;
                                                                                                                   padding: 5px;
                                                                                                                   margin-bottom: 40px;
                                                                                                                   text-align: center;">@ViewBag.StatusMessage</p>
        <h2 class="row" style="text-align: center; margin-top: -20px; color: #2D2C7A; text-shadow: 1px 1px 2px #8483C7;">Wpisz nazwę miejscowości, aby znaleźć zlecenia w okolicy</h2>
        <hr style="background-color: #2D2C7A; height: 1px; border: 0">
            <div style="text-align: center;">
                @Html.ActionLink("Dodaj zlecenie", "AddOffer", null, new {@class = "btn btn-lg btn-right"})
            </div>
        <br/>
        <div>
            <input id="pac-input" type="text" placeholder="wyszukaj miejscowość">
            <div id="map" style="height:500px; border-radius: 30px;box-shadow: 1px 2px #2D2C7A;"></div>
        </div>
    </div>

    @Html.ActionLink("Powrót do strony głównej", "Index", "Home", null, new {@class = "btn btn-lg btn-right"})

    <hr style="background-color: #2D2C7A; height: 1px;">
    <footer>
        <p style="color: #2D2C7A;">&copy; @DateTime.Now.Year - Władowska Gabriela</p>
    </footer>
</div>
</body>
</html>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApZd7QUQCRUJ9r9bGcBVCDwwx-wPsSqpg&libraries=places&callback=initAutocomplete"></script>